<footer>
<div class="container">
  <div class="top-footer p-3">
    <ul>
      <li><a href="#" class="facebook"><fa-icon [icon]="faF"></fa-icon></a></li>
      <li><a href="#" class="youtube"><fa-icon [icon]="faY"></fa-icon></a></li>
      <li><a href="#" class="twitter"><fa-icon [icon]="faT"></fa-icon></a></li>
      <li><a href="#" class="instagram"><fa-icon [icon]="faI"></fa-icon></a></li>
    </ul>
  </div>
  <hr>
  <div class="center-footer">
    <div class="row">
      <div class="col-lg-3">
        <h1>Top Header</h1>
        <ul>
          <li><a href="#">News Paper</a></li>
          <li><a href="#">News Paper</a></li>
          <li><a href="#">News Paper</a></li>
          <li><a href="#">News Paper</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h1>Top Header</h1>
        <ul>
          <li><a href="#">News Paper</a></li>
          <li><a href="#">News Paper</a></li>
          <li><a href="#">News Paper</a></li>
          <li><a href="#">News Paper</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h1>Top Header</h1>
        <ul>
          <li><a href="#">News Paper</a></li>
          <li><a href="#">News Paper</a></li>
          <li><a href="#">News Paper</a></li>
          <li><a href="#">News Paper</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h1>Top Header</h1>
        <ul>
          <li><a href="#">News Paper</a></li>
          <li><a href="#">News Paper</a></li>
          <li><a href="#">News Paper</a></li>
          <li><a href="#">News Paper</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="bottom-footer">
    <span class="p-3">©{{date}} by <span style="color: red;">♥</span> Remon</span>
  </div>
</div>
</footer>
