.orange
{
  color:#ffa600
}
header
{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background: #eee;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;

  .dateNow
  {
   font-weight: 600;
  }
}

nav
{
  position: fixed;
  top: 42px;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  opacity: 1;
  transition: 0.5s ease-out;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  z-index: 9999;
  &.opac
{
    opacity: 0.9;
    top: 0;
  }
  // navbar-box
  .navbar-box
  {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    // logo
    .logo
    {
      position: relative;
      a
      {
        img
        {
          width: 100px;
          height: 70px;
        }
      }
    }
    // links
    .links
    {
    ul
    {
      display: flex;
      gap: 30px;
      li
      {
        position: relative;
       a
       {
        color: #fff;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        &:hover

      {
          color: var(--mainColor)
        }
        &::before
        {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: var(--mainColor);
          bottom: -6px;
          transform: scaleX(0);
          -webkit-transform: scaleX(0);
          -moz-transform: scaleX(0);
          -ms-transform: scaleX(0);
          -o-transform: scaleX(0);
          transition: 0.5s ease-out;
          -webkit-transition: 0.5s ease-out;
          -moz-transition: 0.5s ease-out;
          -ms-transition: 0.5s ease-out;
          -o-transition: 0.5s ease-out;
}
        &:hover::before
        {
          transform: scaleX(1);
}
       }
      }
    }
  }
  }

}



