<header>
  <div class="container ">
    <span class="dateNow">{{DateToday | date:'fullDate'}}</span>
  </div>
</header>
<nav class="nav">
  <div class="container">
     <div class="navbar-box">
      <!-- Logo -->
    <div class="logo"><a href="#" class="logo"><img src="./assets/img/logo.png" alt="logo"></a></div>
    <!-- Items -->
    <div class="links lh-54">
      <ul>
        <li><a href="#" routerLink="" routerLinkActive="orange">الرئيسية</a></li>
        <li><a href="#" routerLink="sport">الرياضة</a></li>
        <li><a href="#" routerLink="" routerLinkActive="orange" >منوعات</a></li>
        <li><a href="#" routerLink="" routerLinkActive="orange" >من نحن</a></li>
        <li><a href="#" routerLink="" routerLinkActive="orange" >تواصل معنا</a></li>
      </ul>
    </div>
     </div>
  </div>
</nav>
